.waves {
  position: fixed;
  top: 0;
  z-index: -1;
}


.nav__link {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  z-index: 1;
}

.logo {
  width: 4rem;
  height: 4rem;
  clip-path: polygon(
    14% 20%,
    44% 20%,
    44% 0,
    89% 50%,
    46% 100%,
    45% 81%,
    14% 81%
  );
  cursor: pointer;
  margin-top: .5rem;
}

.nav__link ul {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  align-items: center;
}

.nav__link ul li {
  list-style: none;
}

.nav__link ul li:last-of-type {
  background: linear-gradient(
    90deg,
    rgba(121, 245, 245, 1) 0%,
    rgba(71, 141, 171, 1) 100%
  );
  padding: 0.1rem 1rem;
  border-radius: 0.9rem;
}

.nav__link ul li:last-of-type a {
  color: white;
}

.nav__link ul li a {
  z-index: 6;
  font-size: 0.8rem;
  text-decoration: none;
  cursor: pointer;
}
